{% if pageCount > 1 %}
<nav aria-label="Pagination">
    <ul class="inline-flex items-center -space-x-px">
        {% if previous is defined %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" 
               class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">
                <i class="fas fa-chevron-left"></i>
            </a>
        </li>
        {% endif %}

        {% if startPage > 1 %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}" 
               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a>
        </li>
        {% if startPage > 2 %}
        <li>
            <span class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300">...</span>
        </li>
        {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
        <li>
            {% if page == current %}
            <a class="px-3 py-2 text-white bg-blue-600 border border-blue-600 font-bold">{{ page }}</a>
            {% else %}
            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" 
               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ page }}</a>
            {% endif %}
        </li>
        {% endfor %}

        {% if endPage < pageCount %}
        {% if endPage < pageCount - 1 %}
        <li>
            <span class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300">...</span>
        </li>
        {% endif %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" 
               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ pageCount }}</a>
        </li>
        {% endif %}

        {% if next is defined %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" 
               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}